@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* - Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%) */
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  background-image: url("assets/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-position: 1%;
  background-color: hsl(0, 100%, 74%);
}
/* the popup */
.popup {
  display: none; /* Hide popup by default */
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.show {
  display: block; /* Show popup when .show class is applied */
}
/* the main work */
.main-content {
  display: flex;
  width: 80%;
  height: 90%;
}
.text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2rem;
}
.text-area h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
}
.text-area p {
  font-size: 15px;
}
.trail-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.trail {
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  width: 90%;
  box-shadow: 1px 7px 3px hsla(249, 10%, 26%, 0.384);
  /* margin: 0 auto; */
  /* margin-bottom: 1rem; */
  cursor: pointer;
}
.trail p span {
  font-weight: 700;
}
.trail:hover {
  background-color: hsl(246, 38%, 68%);
}
.trail:active {
  transform: translateY(4px);
}
.the-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0 3%;
  padding-top: 8%;
  padding-bottom: 5%;
  background-color: white;
  border-radius: 10px;
  border: none;
  gap: 1rem;
}
.the-form input {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid hsl(249, 10%, 26%);
  background-color: white;
}
.the-form input::placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: 700;
}

/* Style autofilled input fields */
.the-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
  box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
  -webkit-text-fill-color: #000 !important; /* Apply text color */
  border: 1px solid hsl(249, 10%, 26%) !important; /* Change border color */
  border-radius: 5px; /* Rounded corners */
}

/* Change the outline thickness when the input is focused */
.the-form input:focus {
  outline: 1px solid hsl(246, 38%, 68%); /* Green outline */
}

/* Change the background color for non-autofilled inputs */
.the-form input:not(:-webkit-autofill) {
  background-color: #fff; /* Light blue background for non-autofilled inputs */
}
/* nothung to change */
.the-form button {
  padding: 3% 0;
  background-color: hsl(154, 65%, 40%);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 13px;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  box-shadow: 1px 5px 3px hsla(249, 10%, 26%, 0.384);
}
.the-form button:hover {
  background-color: hsl(154, 59%, 51%);
}
.the-form button:active {
  background-color: hsl(154, 59%, 51%);
  transform: translateY(4px);
}
.the-form p {
  color: hsl(249, 10%, 26%);
  font-size: 10px;
  text-align: center;
}
.the-form p span {
  color: red;
  font-weight: 500;
}
.errorspan {
  color: red;
  font-size: 10px;
  margin-top: -3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
}
/* phone */
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
  body {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    background-image: url("assets/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: 10%;
    background-color: hsl(0, 100%, 74%);
    padding: 10% 0;
  }
  /* the main work */
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 10% 0;
    gap: 2rem;
  }
  .text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
  }
  .text-area h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
  }
  .text-area p {
    font-size: 17px;
    text-align: center;
    width: 95%;
    line-height: 1.8rem;
  }
  .trail-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 7%;
  }
  .trail {
    padding: 5% 9px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    width: 90%;
    box-shadow: 1px 7px 3px hsla(249, 10%, 26%, 0.384);
    /* margin: 0 auto; */
    /* margin-bottom: 1rem; */
    cursor: pointer;
  }
  .trail p {
    width: 68%;
    margin: auto;
    font-size: 17px;
  }
  .trail:hover {
    background-color: hsl(246, 38%, 68%);
  }
  .trail:active {
    transform: translateY(4px);
  }
  .the-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 4%;
    padding-top: 8%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    border: none;
    gap: 1rem;
  }
  .the-form input {
    font-size: 15px;
    padding: 18px 10px;
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    border: 1px solid hsl(249, 10%, 26%);
    background-color: white;
  }

  /* Style autofilled input fields */
  .the-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
    box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
    -webkit-text-fill-color: #000 !important; /* Apply text color */
    border: 1px solid hsl(248, 32%, 49%) !important; /* Change border color */
    border-radius: 5px; /* Rounded corners */
  }

  /* Change the outline thickness when the input is focused */
  .the-form input:focus {
    outline: 1px solid hsl(248, 32%, 49%); /* Green outline */
  }

  /* Change the background color for non-autofilled inputs */
  .the-form input:not(:-webkit-autofill) {
    background-color: #fff; /* Light blue background for non-autofilled inputs */
  }
  /* nothung to change */
  .the-form button {
    padding: 6% 0;
    background-color: hsl(154, 65%, 40%);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 13px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 1px 5px 3px hsla(249, 10%, 26%, 0.384);
  }
  .the-form button:hover {
    background-color: hsl(154, 59%, 51%);
  }
  .the-form button:active {
    background-color: hsl(154, 59%, 51%);
    transform: translateY(4px);
  }
  .the-form p {
    color: hsl(249, 10%, 26%);
    font-size: 14px;
    text-align: center;
  }
  .the-form p span {
    color: red;
    font-weight: 500;
  }
  .errorspan {
    color: red;
    font-size: 10px;
    margin-top: -3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
  }
}
/* the ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    background-image: url("assets/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: 10%;
    background-color: hsl(0, 100%, 74%);
    padding: 10% 0;
  }
  /* the main work */
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 3% 0;
    gap: 2rem;
  }
  .text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
  }
  .text-area h1 {
    font-size: 65px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3em;
  }
  .text-area p {
    font-size: 30px;
    text-align: center;
    width: 80%;
    line-height: 1.4em;
  }
  .trail-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 7%;
  }
  .trail {
    padding: 5% 9px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    width: 90%;
    box-shadow: 1px 7px 3px hsla(249, 10%, 26%, 0.384);
    /* margin: 0 auto; */
    /* margin-bottom: 1rem; */
    cursor: pointer;
  }
  .trail p {
    width: 90%;
    margin: auto;
    font-size: 25px;
  }
  .trail:hover {
    background-color: hsl(246, 38%, 68%);
  }
  .trail:active {
    transform: translateY(4px);
  }
  .the-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 4%;
    padding-top: 8%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    border: none;
    gap: 1.7em;
  }
  .the-form input {
    font-size: 25px;
    padding: 28px 20px;
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    border: 1px solid hsl(249, 10%, 26%);
    background-color: white;
  }

  /* Style autofilled input fields */
  .the-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
    box-shadow: 0 0 0 1000px #fff inset !important; /* Apply background color */
    -webkit-text-fill-color: #000 !important; /* Apply text color */
    border: 1px solid hsl(248, 32%, 49%) !important; /* Change border color */
    border-radius: 5px; /* Rounded corners */
  }

  /* Change the outline thickness when the input is focused */
  .the-form input:focus {
    outline: 1px solid hsl(248, 32%, 49%); /* Green outline */
  }

  /* Change the background color for non-autofilled inputs */
  .the-form input:not(:-webkit-autofill) {
    background-color: #fff; /* Light blue background for non-autofilled inputs */
  }
  /* nothung to change */
  .the-form button {
    padding: 6% 0;
    background-color: hsl(154, 65%, 40%);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 1px 5px 3px hsla(249, 10%, 26%, 0.384);
  }
  .the-form button:hover {
    background-color: hsl(154, 59%, 51%);
  }
  .the-form button:active {
    background-color: hsl(154, 59%, 51%);
    transform: translateY(4px);
  }
  .the-form p {
    color: hsl(249, 10%, 26%);
    font-size: 20px;
    text-align: center;
  }
  .the-form p span {
    color: red;
    font-weight: 500;
  }
  .errorspan {
    color: red;
    font-size: 15px;
    margin-top: -3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
  }
}
